<ul class="thumbnails">
    <% for(var friend in data) { %>
    <li>
        <a href="#person/<%= data[friend].id %>" class="thumbnail plain" style="width: 150px;text-decoration: none;position:relative;">
            <div style="position:relative;height:150px;width: 150px;">
                <img src="https://graph.facebook.com/<%= data[friend].id %>/picture?width=150&height=150"/>
                <div class="input-block-level" style="background-color: black;opacity: .5;color: #ffffff;padding: 3px; position:absolute;bottom:0px;"><%= data[friend].name %></div>
            </div>
        </a>
    <% } %>
</ul>

<ul class="pager">
    <% if (paging.previous) { %>
    <li><a href="#" class="previous">&larr; Previous</a></li>
    <% } %>
    <% if (paging.next) { %>
    <li><a href="#" class="next">Next &rarr;</a></li>
    <% } %>
</ul>
